---
import Page from "../layouts/Page.astro"
---
<Page>
	<div id="header" class="column-container">
		<div class="column">
			<div id="brand-main">
				<img id="brand-icon" src="/assets/maize.png">
				<span id="brand-name">Maize</span>
			</div>
			<span id="brand-tagline">A simple, portable, and composable language.</span>
		</div>
		<div id="header-description" class="column">
			<b><span title="Not general-purpose">Specialized</span></b> programming language for writing <b><span title="All code should describe desired behaviour without specifying any extraneous details.">descriptive</span></b>, <b><span title="All code should be relevant to either the desired task or the legibility/usability of the program.">relevant</span></b>, and <b><span title="All code should look the same (so no hyper-specific operators) and follow the same syntactic rules.">consistent</span></b> code.
			<br>
			<div class="text-center">
				<button id="get-started" onclick="alert('hacked');">Get Started</button>
			</div>
		</div>
	</div>
	<div id="features" class="column-container">
		<a rel="noreferrer" href="/philosophy#simple" class="link column">
			<h3><u>Simple</u></h3>
			<p>
				Maize source code follows an incredibly simple syntactic rules—represented as a simple binary tree—without permitting excessive customization.	
			</p>
		</a>
		<a rel="noreferrer" href="/philosophy#portable" class="link column">
			<h3><u>Portable</u></h3>
			<p>
				Compiling to simple formats like lambda calculus, Maize code can be run on any system. If a system doesn't have an interpreter, you can build one in a day.
			</p>
		</a>
		<a rel="noreferrer" href="/philosophy#composable" class="link column">
			<h3><u>Composable</u></h3>
			<p>
				Maize forces you to write functions instead of programs, allowing the user to decide how to compose available functions themselves.
			</p>
		</a>
	</div>
</Page>

<style>
	.link {
		text-decoration: none;
		color: black;
	}

	.link:hover {
		background-color: rgb(229, 243, 255);
	}

	.column-container {
		width: 100%;
		display: flex;
		gap: 2rem;
	}

	.column {
		width: 100%;
		padding: 0.5rem;
	}

	#header {
		margin-top: 15%;
		margin-bottom: 15%;
	}

	#brand-main {
		height: 4rem;

		display: flex;

		margin-bottom: 0.25rem;
	}

	#brand-icon {
		height: 100%;
		margin-right: 0.25rem;
	}

	#brand-name {
		font-size: 4rem;
		margin: auto 0;
	}

	#header-description {
		margin: auto 0;
	}
	
	#features h3 {
		margin-top: 0.25rem;
	}

	.text-center {
		text-align: center;
	}

	#get-started {
		margin-top: 0.5rem;

		cursor: pointer;
		font-size: 1rem;
		line-height: 1.25rem;
		font-weight: 500;

		border: 0;
		padding: 6px 16px;

		background-color: gold;
		transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	}

	#get-started:hover {
		background-color: rgb(230, 195, 0);
		transition-duration: 0.1s;
	}
</style>