---
import Page from "../layouts/Page.astro"
---
<Page>
	<div id="header" class="column-container">
		<div class="column">
			<div id="brand-main">
				<img id="brand-icon" src="/assets/maize.png">
				<span id="brand-name">Maize</span>
			</div>
			<span id="brand-tagline">A simple, portable, and composable language.</span>
		</div>
		<div id="header-description" class="column">
			<b><span title="Not general-purpose">Specialized</span></b> programming language for writing <b>descriptive</b>, <b>relevant</b>, and <b>consistent</b> code.
			<br>
			<div id="get-started-container">
				<button id="get-started" onclick="alert('hacked');">Get Started</button>
			</div>
		</div>
	</div>
	<div id="features" class="column-container">
		<div class="column">
			<h3>Simple</h3>
			<p>
				Maize source code follows an incredibly simple syntactic rules—represented as a simple binary tree—without permitting excessive customization.	
			</p>
		</div>
		<div class="column">
			<h3>Portable</h3>
			<p>
				Compiling to simple formats like lambda calculus, Maize code can be run on any system. If a system doesn't have an interpreter, you can build one in a day.
			</p>
		</div>
		<div class="column">
			<h3>Composable</h3>
			<p>
				Maize forces you to write functions instead of programs, allowing the user to decide how to compose available functions themselves.
			</p>
		</div>
	</div>
	<div>
		astro :D
	</div>
</Page>

<style>
	.column-container {
		width: 100%;
		display: flex;
		gap: 2rem;
	}

	.column {
		width: 100%;
		padding: 0.5rem;
	}

	#header {
		margin-top: 15%;
		margin-bottom: 15%;
	}

	#brand-main {
		height: 4rem;

		display: flex;

		margin-bottom: 0.25rem;
	}

	#brand-icon {
		height: 100%;
		margin-right: 0.25rem;
	}

	#brand-name {
		font-size: 4rem;
		margin: auto 0;
	}

	#header-description {
		margin: auto 0;
	}
	
	#features h3 {
		margin-top: 0.25rem;
	}

	#get-started-container {
		text-align: center;
	}

	#get-started {
		margin-top: 0.5rem;

		cursor: pointer;
		font-size: 1rem;
		line-height: 1.25rem;
		font-weight: 500;

		border: 2px solid gray;
		border-radius: 2px;
		padding: 6px 16px;

		background-color: #e4eaf0;
		transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	}

	#get-started:hover {
		background-color: #d2d7df;
		transition-duration: 0.1s;
	}
</style>