---
import { Code } from "astro:components"
import Page from "../layouts/Page.astro"
---
<Page>
	<div id="content">
		<h2 id="motivation">Motivation</h2>
		<p>
			TODO
		</p>
		<h2 id="simple">Simple</h2>
		<p>
			TODO
		</p>
		<h2 id="portable">Portable</h2>
		<p>
			TODO
		</p>
		<h2 id="composable">Composable</h2>
		<p>
			TODO
		</p>
	</div>
</Page>

<style>
	#content {
		max-width: 768px;

		margin: 0 auto 0 auto;

		padding-top: 5%;
	}

	h2 {
		margin-top: 5%;
	}
</style>