---
import { Code } from "astro:components"
import Page from "../layouts/Page.astro"
---
<Page>
	<div id="content">
		<h2 id="motivation">Motivation</h2>
		<p>
			Maize is a programming language primarily intended to demonstrate a few concepts related to programming language and program design that have either not been implemented in the same language or, to the best of my knowledge, have never been implemented in a programming language before.
		</p>
		<p>
			That said, Maize does steal a lot from other programming languages. Features taken from other programming languages include partial ordering-based operator precedence from <a target="_blank" rel="noreferrer" href="https://softwareengineering.stackexchange.com/questions/391263/what-is-the-logic-in-the-order-of-operator-precedence">Fortress</a> and <a target="_blank" rel="noreferrer" href="https://docs.swift.org/swift-book/documentation/the-swift-programming-language/declarations#Precedence-Group-Declaration">Swift</a>, indentation alignment rules from <a target="_blank" rel="noreferrer" href="https://en.wikibooks.org/wiki/Haskell/Indentation">Haskell</a>, and colon-prefixed blocks from Python. There are also a few features like <a target="_blank" rel="noreferrer" href="https://www.microsoft.com/en-us/research/uploads/prod/2020/01/CoDataInAction.pdf">codata</a> that were stolen from papers, as well as some more general features like emergent generic types (via compile-time execution and first-class types) that were taken from no language in particular.
		</p>
		<p>
			Practically—ignoring its uses in exploring language design—Maize is intended to help the programmer manage the growing complexity of their code by easing the transition from a concept to a program. It's not possible to completely deal with compounding complexity of growing codebases, but removing extraneous details is intended to help grapple the idea.
		</p>
		<h2 id="simple">Simple</h2>
		<p>
			TODO
		</p>
		<h2 id="portable">Portable</h2>
		<p>
			TODO
		</p>
		<h2 id="composable">Composable</h2>
		<p>
			TODO
		</p>
	</div>
</Page>

<style>
	#content {
		max-width: 768px;

		margin: 0 auto 0 auto;

		padding-top: 5%;
	}

	h2 {
		margin-top: 5%;
	}
</style>